
  <h1 class="top"> ROCK. <br> PAPER. <br> SCISSORS.</h1>

<div class="bottom">
  <h2>'rock' <span>beats</span> 'scissors'</h2> <h2>'scissors' <span>beats</span> 'paper'</h2> <h2>'paper' <span>beats</span> 'rock'</h2>
</div>
