<h1> Rock, Paper & Scissors</h1>

<h2>Welcome, here are the rules..</h2>

<h3>Simple stuff here, really.</h3>

<ul>
  <li>'rock' beats 'scissors'</li>
  <li>'scissors' beats 'paper'</li>
  <li>'paper' beats 'rock'</li>
</ul>
